article{
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    margin: 5px;
}

article h1{
    display: flex;
    font-size: 2em;
    justify-content: center;
    color: hsl(270, 100%, 80%);
    background-color:hsl(100, 70%, 95%);
}

.news{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill,minmax(20px,1fr));
}


.news-image-caption{
    grid-row: 3;
    background-color: hsl(174, 70%, 95%)

}


.meta{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: aliceblue;
}

.meta .date{
    text-align: center;
    font-size: 20px;
}

.news-summary{
    padding: 10px;
    line-height: 4vh
}

.news-body{
    line-height: 4vh;
    margin-top: 20px;
}

.news-body em{
    font-size: 3em;
    padding: 10px;
    margin: 10px;
}




.news-image{
    width: auto;
    height: 100vh;;
    background-image: url('./images/me.jpg');
    background-size: cover;
    object-fit: cover;
    grid-row: 2/3;
}
