section{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(auto-fill,minmax(250px,1fr));
    margin-top: 2%;
}

aside{
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
    
}

.image{
    border: 3px solid coral;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
    background-image: url('images/me.jpg');
    background-size: 100%;
}


tag-right{
    grid-column: 9/12;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
}

.tag-list{
    display: flex;
    flex-wrap: wrap;
}

.tag-list>div{
    padding: 5px;
    border: 1px solid saddlebrown;
}

.about-me h2{
    display: flex;
    justify-content: center;

}

h1,h2{
    text-align: center;
}

@media only screen and (max-width:600px){
    section{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
}