section{
    display: flex;
    margin-top: 2%;
}

aside{
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
    
}

.image{
    border: 3px solid coral;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
    background-image: url('images/me.jpg');
    background-size: 100%;
}

content{
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
}

tag-right{
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
}

h1,h2{
    text-align: center;
}

@media only screen and (max-width:600px){
    section{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
}